services:
  ayushchugh_com_nextjs:
    image: rabin.work
    container_name: rabin.work
    working_dir: /app
    ports:
      - "3001:3000"
    expose:
      - "3000"
    command: "npm start"
    environment:
      NODE_ENV: production
    env_file:
      - .env
    build:
      context: .
      dockerfile: Dockerfile
